nav{
    margin: 27px auto 0;


    position: relative;
    width: 720px;
    height: 50px;
    border-radius: 8px;
    background-color:midnightblue;
    font-size: 0;
}
nav a{
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation{
    position:absolute;
    height: 100%;
    top: 0%;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
nav .animation2{
    position:absolute;
    height: 100%;
    top: 0%;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1){
    width: 110px;
}
a:nth-child(2){
    width: 100px;
}
a:nth-child(3){
    width: 100px;
}
a:nth-child(4){
    width: 110px;
}
a:nth-child(5){
    width: 140px;
}
a:nth-child(6){
    width: 140px;
}
nav .start-home, a:nth-child(1):hover~.animation{
    width:110px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-home, a:nth-child(2):hover~.animation{
    width: 100px;
    left: 100px;
    background-color: #e74c3c;
}
nav .start-home, a:nth-child(3):hover~.animation{
    width: 100px;
    left:210px;
    background-color: #3498db;
}
nav .start-home, a:nth-child(4):hover~.animation{
    width: 110px;
    left: 310px;
    background-color: #9b59b6;
}
nav .start-home, a:nth-child(5):hover~.animation{
    width: 130px;
    left: 430px;
    background-color: #e67e22;
}
nav .start-home, a:nth-child(6):hover~.animation{
    width: 170px;
    left: 560px;
    background-color:darkkhaki
}
body{
    font-size: 12px;
    font-family: sans-serif;
    background-image: url("https://lh6.googleusercontent.com/proxy/5XfytCUzag_2tyVGq3XsEWDZs3TmTvhhjZGbFA8aAhd4BBQaYQA5chkD2ltg3UgIutjxq8hfWJgobc36kQ1bkX6qjPj2Od76dGs=s0-d"); 
}
h1{
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size:30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #e74c3c;
    font-family: 'Cherry Swash',cursive;
}
.profile-card{
    justify-content: center;
    align-items: center;
    width:1200px;
    padding:30px;
    border-radius:30px;
    box-shadow: 0 4px 30px (0,0,0,0.1);
    text-align: center;
    color:black;
}
.profile-img{
    width: 120px;
    height: 150px;
    border-radius:100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.profile2-card{
    justify-content: center;
    align-items: center;
    width:1200px;
    padding:30px;
    border-radius:30px;
    box-shadow: 0 4px 30px (0,0,0,0.1);
    text-align: center;
    color:#e67e22;
}
.profile2-img{
    width: 300px;
    height: auto;
    border-radius:15px;

}